body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.new-recipe {
  transition: ease-in-out .15s;
  margin-left: 6px;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 600;
}

.new-recipe:hover {
  background-color: #ffb899;
}

.recipe-card {
  transition: ease-in-out .15s;
}

.recipe-card:hover {
  transform: translateY(-10px);
}

.search-result-link:hover {
  transform: translateX(10px);
}